@use "@/scss/variables" as *;
@use "@/scss/mixins" as mixins;

.board-sidebar {
  background-color: #282829;
  height: 100vh;
  width: 250px;
  overflow-x: auto;

  // Custom scrollbar
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: gray;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkslategray;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &__user-info {
    user-select: none;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > p {
      font-size: 1.4rem;
      font-weight: 500;
      color: $white;
    }

    > a {
      @include mixins.roundIcon(3rem, 3rem);
      > svg {
        color: $white;
      }
    }
  }

  &__top {
    padding: 1rem 1.5rem;

    > svg {
      color: $white;
      cursor: pointer;
    }
  }
  &__header {
    color: $white;
    font-size: 1.4rem;
  }

  &__list {
    &__item {
      text-decoration: none;
      display: block;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: $white;

      &:hover,
      &.active {
        background-color: #39434a;
      }
    }
  }
}

.emoji-container {
  position: relative;
  width: max-content;
}

.emoji-icon {
  font-size: 3rem;
  cursor: pointer;
}

.emoji-box {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 99;
  &.show {
    display: block;
  }
}

.kanban {
  flex: 1;
  background-color: #131213;
  padding: 2rem 4rem 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    position: sticky;
    &__btn {
      display: inline;
      color: $greenColor;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid $greenColor;
      transition: 0.15s;

      &:hover {
        cursor: pointer;
        color: $white;
        box-shadow: inset 0 -3.25em 0 0 $greenColor;
      }
    }

    &__amount {
      font-size: 1.2rem;
      font-weight: 600;
      color: $white;
    }
  }

  &__separate {
    border-color: #39434a !important;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    max-width: calc(100vw - 330px);
    overflow-x: auto;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    // Custom scrollbar
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: gray;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkslategray;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }

    .section__list {
      margin-top: 1.5rem;
      width: 250px;

      // Custom scrollbar
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: gray;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkslategray;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }

      &__header {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
          input {
            font-size: 1.4rem;
            font-weight: 600;
            color: $white;
          }
        }

        &__options {
          display: flex;
          align-items: center;

          &__btn {
            @include mixins.roundIcon(2.5rem, 2.5rem);
            &.add {
              svg {
                color: $greenColor;
              }
            }
            &.delete {
              svg {
                color: $dangerColor;
              }
            }
          }
        }
      }

      .task-box {
        &__list {
          margin-top: 1rem;
          overflow-x: auto;

          // Custom scrollbar
          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
          }

          &::-webkit-scrollbar-track {
            background-color: gray;
          }

          &::-webkit-scrollbar-thumb {
            background-color: darkslategray;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
          }

          &__item {
            position: relative;
            display: block;
            padding: 1rem 2rem 1rem 1rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: $white;
            background-color: #282829;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            user-select: none;

            &__checkdone {
              color: $greenColor;
              position: absolute;
              right: 1rem;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    .section__list ~ .section__list {
      margin-left: 1.5rem;
    }
  }
}

.task-box {
  position: relative;
  background-color: #131213;
  min-width: 600px;
  padding: 2rem 3rem;
  border-radius: 0.75rem;

  &__delete-btn {
    @include mixins.roundIcon(3rem, 3rem);
    position: absolute;
    top: 1rem;
    right: 1rem;

    > svg {
      color: $dangerColor;
    }
  }

  &__header {
    margin-bottom: 1rem;
    &__title {
      margin-left: 1rem;
      > input {
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
      }
    }
  }

  &__create-date {
    font-size: 1.2rem;
    font-weight: 600;
    color: $white;
    margin: 0.5rem 0;
  }
}
