@use "@/scss/variables" as *;

.submit-btn {
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  outline: 0;
  border: none;
  color: #fff;
  background-color: #2caf4a;
}
