@use "scss/mixins" as mixins;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: opacity 0.5s ease;
  display: flex;
  opacity: 1;
  z-index: 99;
  align-items: center;
  justify-content: center;

  &__body {
    @include mixins.animation(modalAnimate, 0.2s, linear, -3rem, 0);
  }
}
