@use "@/scss/variables" as *;

.detail-project-container {
  .project-detail {
    grid-column: 1/3;
    &__thumbnail {
      position: relative;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 400px;
      overflow: hidden;
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
      margin-bottom: 2rem;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0 0 0 / 100%) 20%, transparent);
      }

      &__title {
        position: absolute;
        font-size: 4rem;
        font-weight: 600;
        left: 4rem;
        right: 4rem;
        bottom: 10%;
        color: $white;
      }
    }

    &__header {
      margin-bottom: 3rem;

      &__author {
        display: flex;
        &__photo {
          margin-right: 2rem;
          width: 80px;
          height: 80px;
          > img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__info {
          margin: auto 0;
          user-select: none;
          &__username {
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 600;
            color: $black;

            &:hover {
              color: $btnColor;
            }
          }

          &__date {
            font-size: 1.4rem;
            color: #57606a;
            margin-top: 0.5rem;
          }
        }
      }

      &__options {
        span {
          padding: 1rem;
          cursor: pointer;

          &:hover {
            > svg {
              color: $btnColor;
            }
          }

          &.active {
            color: $btnColor;
          }
        }
      }
    }

    &__short-desc {
      font-size: 1.8rem;
      line-height: 1.5;
      padding: 1.5rem 1rem;
      background-color: #f1f1f1;
      border-radius: 0.75rem;
      text-align: justify;
      font-style: italic;
      margin-bottom: 2rem;
    }

    &__follow {
      font-size: 1.4rem;
      font-weight: 500;
      cursor: pointer;
      float: right;

      svg {
        vertical-align: top;
        margin-right: 0.5rem;
        animation: follow 0.5s ease-in-out infinite alternate;

        @keyframes follow {
          from {
            transform: translateX(-5px);
          }
          to {
            transform: translateX(0);
          }
        }
      }

      &:hover {
        color: $btnColor;
      }
    }

    // Custom content project
    &__content {
      p {
        font-size: 2rem;
        line-height: 1.5;
        padding-bottom: 1rem;
        white-space: pre-wrap;
        word-break: break-word;
        text-align: justify;
      }

      h2 {
        font-size: 3.2rem;
        text-decoration: underline tomato 3px;
        margin-bottom: 1.5rem;
      }

      h3 {
        font-size: 2.6rem;
        text-decoration: underline cornflowerblue 2.5px;
        margin-bottom: 1.25rem;
      }

      h4 {
        font-size: 2.2rem;
        text-decoration: underline lightgreen 2px;
        margin-bottom: 1rem;
      }
      img {
        display: block;
        max-width: 600px;
        margin: 1rem auto;
      }

      a {
        color: $btnColor;
      }

      blockquote {
        padding: 1rem 1.5rem 0 4rem;
        border-left: 4px solid #cccccc;
        margin-bottom: 1rem;
        background-color: #f4f4f4;
      }

      ol,
      ul {
        li {
          font-size: 2rem;
          line-height: 1.5;
          margin-left: 3rem;
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;

        td,
        th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        tr:hover {
          background-color: #ddd;
        }

        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04aa6d;
          color: white;
        }
      }
    }
  }
  .project-sidebar {
    height: 100%;
    background-color: gray;
  }
}
