@use "scss/variables" as *;
.header {
  height: 70px;
  padding: 16px 0;

  &.hasBg {
    background-color: $headerBg;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  & .logo {
    width: 32px;
    height: 32px;
    margin-right: 1.8rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .search-box {
    min-width: 250px;
    padding: 1rem 1.2rem;
    border-radius: 0.4rem;
    outline: none;
    border: 1px solid $borderColor;
    background-color: rgba($color: $inputBg, $alpha: 0.1);
    color: $white;

    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &__right {
    .header__list {
      display: flex;

      .header__menu {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        &__photo {
          width: 20px;
          height: 20px;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .dropdown-icon {
          margin-left: 0.5rem;
          color: $white;
        }

        &:hover .dropdown-icon {
          color: $lightColor;
        }

        &:hover .dropdown-menu {
          display: block;
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          padding: 0.5rem 0;
          top: calc(100% + 10px);
          right: -20px;
          background-color: $white;
          width: 180px;
          z-index: 9;
          border-radius: 1rem;
          border: 1px solid #d0d7de;
          box-shadow: $box-shadow;
          &__item {
            padding: 0.75rem 1.5rem;
            font-size: 1.4rem;
            display: block;
            text-decoration: none;
            color: $black;

            &:hover {
              color: $white;
              background-color: $optionHoverColor;
            }
          }

          &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: -16px;
            right: 16px;
            border: 8px solid transparent;
            border-bottom-color: $white;
          }

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 1.6rem;
            top: -16px;
            right: 0;
          }

          .set-bio,
          .logged-user {
            padding: 0.2rem 1.5rem;
          }

          .logged-user {
            display: block;
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-decoration: none;
            color: $black;
            &__username {
              font-weight: 600;
            }
          }

          .set-bio {
            &__content {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              padding: 0.5rem 1rem;
              border: 1px solid #d0d7de;
              border-radius: 0.75rem;

              > svg {
                margin-right: 1rem;
              }

              &:hover {
                color: $btnColor;
              }
            }
          }
        }
      }

      .header__menu + .header__menu {
        margin-left: 1rem;
      }
    }
  }
}
