@use "scss/variables" as *;

.gotop {
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #00a3c7, $alpha: 0.7);
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s ease;
  user-select: none;

  &.shrink {
    opacity: 1;
    user-select: all;
    cursor: pointer;
  }

  & > svg {
    color: $white;
  }

  &:hover {
    background-color: rgba($color: #00a3c7, $alpha: 1);
  }
}
