.setting-tab-container {
  width: 100%;
  padding: 1rem;

  .setting-tab {
    &__list {
      &__item {
        position: relative;
        color: #57606a;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        > svg {
          margin-right: 1rem;
        }

        &:hover {
          background-color: #f0f2f4;
          cursor: pointer;
        }

        &.active {
          font-weight: 500;
          background-color: #f4f5f7;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            width: 4px;
            height: 100%;
            background-color: #0969da;
            border-radius: .25rem;
          }
        }
      }
    }
  }
}
