@use "@/scss/variables" as *;

.notfound {
  background-color: $white;
  width: 100%;
  min-height: 80vh;
  justify-content: center;
  &__wrapper {
    height: 100%;
  }
  &__img {
    width: 80%;
    margin: auto;

    > img {
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    &__shape {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 275px;
      height: 275px;
      background-color: rgba($color: $black, $alpha: 0.05);
      animation: spin 16s linear infinite;
      transform-origin: 0;
      z-index: -1;

      @keyframes spin {
        0% {
          transform: rotate(0deg) translateX(-50%);
        }
        100% {
          transform: rotate(360deg) translateX(-50%);
        }
      }
    }
    &__header {
      font-size: 7rem;
      color: #6c63ff;
      margin-bottom: 1rem;
      //   color: transparent;
      //   -webkit-text-stroke-width: 2px;
      //   -webkit-text-stroke-color: #6c63ff;
    }
    &__desc {
      font-size: 3rem;
      color: #6c63ff;
      margin-bottom: 2rem;
    }
    &__redirect {
      &__btn {
        font-size: 1.6rem;
        font-weight: 600;
        color: #403e57;
        display: inline-block;
        border-radius: 0.5rem;
        border: 2px solid #6c63ff;
        padding: 0.75rem 1.5rem;
        text-decoration: none;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          color: $white;
          box-shadow: inset 0 -3.25em 0 0 #6c63ff;
        }
      }

      &__btn + &__btn {
        margin-left: 2rem;
      }
    }
  }
}
