@use "@/scss/variables" as *;
.input-field {
  &__group {
    &.halfWidth {
      width: 50%;
    }
    &__label {
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
      color: #00cfc8;
      margin-bottom: 0.75rem;
    }

    &__input {
      display: block;
      color: $white;
      font-size: 1.4rem;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      outline: 0;
      background-color: transparent;
      border: 1px solid $lightColor;

      &.noOutline {
        border: unset;
        padding: 0;
      }

      &.readOnly {
        background-color: #eee;
        cursor: default;
      }
    }

    &.normal {
      .input-field__group__label,
      .input-field__group__input {
        color: $black;
      }
    }

    &__textarea {
      resize: none;
      width: 100%;
      height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
      border: 1px solid $lightColor;
      outline: 0;
      border-radius: 0.5rem;

      // Custom scrollbar
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: gray;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkslategray;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }
    }

    &__error {
      color: rgba(255, 0, 0, 0.789);
      font-size: 1.2rem;
    }
  }

  &__group + &__group {
    margin-top: 1rem;
  }
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1rem !important;
}

.password-input__box {
  position: relative;

  > input {
    padding-right: 3rem;
  }
  > svg {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: $lightColor;
  }
}

.checkbox-field {
  &__group {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    &__label {
      cursor: pointer;
      user-select: none;
      font-weight: 600;
      font-size: 1.6rem;
      color: $black;
      margin-left: 3.5rem;
      &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &__input:checked ~ &__checkmark {
        background-color: $optionHoverColor;
      }

      &__input:checked ~ &__checkmark::after {
        display: block;
      }

      &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.5rem;
        width: 2.5rem;
        background-color: #eee;

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid $white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
        }
      }
      &:hover {
        &__checkmark {
          background-color: #ccc;
        }
      }
    }
  }
}
