@use "@/scss/variables"as *;

.pagination {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;

  &__btn {
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: $btnColor;

    > svg {
      vertical-align: text-bottom;
    }

    &.disabled {
      color: #8c959f;

      &:hover {
        user-select: none;
        cursor: default;
        border-color: transparent;
      }
    }

    &:hover {
      border-color: #1b1f2426;
      cursor: pointer;
    }
  }

  &__btn + &__btn {
    margin-left: 1rem;
  }
}
