@use "@/scss/variables" as *;

.dropdown-container {
  width: 256px;
  background-color: $white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  list-style-type: none;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  text-decoration: none;
  color: $black;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 1.2rem;
  }

  &__content {
    &__header {
      font-size: 1.4rem;
      font-weight: 600;
    }
    &__desc {
      font-size: 1.2rem;
      color: $gray;
    }
  }

  &:hover {
    color: $btnColor;
  }
}
