@use 'breakpoints' as *;

@mixin position($position, $top, $left, $bottom, $right, $width, $height) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  width: $width;
  height: $height;
}

@mixin animation($name, $duration, $timeFunction, $translate1, $translate2) {
  animation: $name $duration $timeFunction;
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateY($translate1);
    }
    to {
      opacity: 1;
      transform: translateY($translate2);
    }
  }
}

@mixin align($flex, $justify-content, $align-items, $height) {
  display: $flex;
  align-items: $align-items;
  justify-content: $justify-content;
  height: $height;
}

@mixin gradientText($background) {
  background: $background;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

@mixin roundIcon($width, $height) {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: rgb(67, 67, 67);
  }
}

// Responsive
@mixin responsive($breakpoint) {
  @if $breakpoint == large {
    @media (max-width: $lg) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media (max-width: $md) {
      @content;
    }
  }
  @if $breakpoint == small {
    @media (max-width: $sm) {
      @content;
    }
  }
  @if $breakpoint == xsmall {
    @media (max-width: $xsm) {
      @content;
    }
  }
}
