@use "./mixins" as *;
@use './variables' as *;
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.wide {
    width: 1320px;
  }

  &.tight {
    width: 1000px;
  }

  @include responsive(large) {
    max-width: 100%;
    padding: 0 5rem;
  }
  @include responsive(medium) {
    max-width: 100%;
    padding: 0 4rem;
  }
  @include responsive(small) {
    max-width: 100%;
    padding: 0 2rem;
  }
  @include responsive(xsmall) {
    max-width: 100%;
    padding: 0 1.5rem;
  }
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

.grid {
  display: grid;
}

.redirect {
  cursor: pointer;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

.x-end {
  justify-content: end;
}

.p-15 {
  padding: 1.5rem;
}

.py-15 {
  padding: 1.5rem 0;
}

.py-10 {
  padding: 1rem 0;
}

.m-15 {
  margin: 1.5rem 0;
}

.m-10 {
  margin: 1rem 0;
}

.mr-minus-15 {
  margin-right: -1.5rem;
}
.ml-minus-15 {
  margin-left: -1.5rem;
}

.f-grow {
  flex-grow: 1;
}

.x-full {
  width: max-content;
}

.y-full {
  height: 100vh;
}

.veil {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-note {
  font-size: 1.2rem;
  color: #57606a;
  margin-top: 1rem;
}

.hr {
  height: 1px;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.2);
}

.section {
  margin-bottom: 70px;
}

.separate {
  display: block;
  height: 0;
  margin: 8px 0;
  border-top: 1px solid #d0d7de;
}

.server-message {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(204, 43, 43);
}

.disabled-btn {
  user-select: none;
  cursor: default;
  opacity: 0.5;
}

.label {
  font-size: 1.6rem;
  font-weight: 600;

  &.dark {
    color: #fff;
  }
}

.label-edit {
  font-size: 1.2rem;
  margin-left: 0.25rem;
  color: rgba(255, 0, 0, 0.789);
}

.text-btn {
  font-size: 1.4rem;
  color: $btnColor;
  cursor: pointer;
}

.hide-clipboard {
  display: none;
}

// Custom react-toastify
:root {
  --toastify-toast-min-height: 30px !important;
}

.Toastify__toast-body {
  font-size: 1.4rem;
}
