@use "@/scss/variables" as *;

.filter {
  margin: 2rem 0;
  padding: 1.5rem 0;
  border-top: 1px solid #d0d7de;
  border-bottom: 1px solid #d0d7de;
  &__results {
    font-size: 1.4rem;
    color: #57606a;
  }

  &__clear-btn {
      user-select: none;
    font-size: 1.4rem;
    color: #57606a;
    > svg {
      margin-right: 0.75rem;
    }

    &:hover {
      color: $optionHoverColor;
      cursor: pointer;
    }
  }
}
