* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // font-size: 10px; // Reset 1rem = 10px, 1.8rem = 18px
  // 10 / 16 * 100 = 62.5%
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}