$white: #fff;
$black: #000;
$homeBgGr: linear-gradient(180deg, #0c041e -8.41%, #4e21b7 98.85%);
$btnColor: #2485fd;
$greenColor: #28a745;
$lightColor: #8193b2;
$darkBgColor: #050d20;
$borderColor: #dadee8;
$gray: #56606b;
$lightBgColor: #0c162d;
$lightBgColorHover: #19253c;
$pinkToBlue: linear-gradient(-45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
